<div class="container">
    <form>
        <h2>S'inscrire</h2>

        <label for="username">Nom utilisateur:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Sign Up</button>
        
        <p class="signin-link">Vous avez deja un compte ? <a routerLink="../login">Connectez-vous</a></p>
    </form>

</div>